* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Barra lateral */
.sidebar {
    width: 20%;
    background-color: black;
    padding: 20px;
    
}

.menu-lateral-esquerda {
    text-align: center;
}

.foto-perfil-sidebar {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

.foto-perfil-sidebar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nome-perfil-sidebar p {
    font-size: 20px;
    margin-bottom: 10px;
}

.avaliacao-sidebar span {
    display: inline-block;
    background-color: #4a0070;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.menu-opcoes-esquerda button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4a0070;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.menu-opcoes-esquerda button:hover {
    background-color: #230035;
}

/* Perfil principal */
.perfil-detalhes {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.perfil-card {
    width: 40%;
    background-color: #4a0070;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Topo do perfil com nome e imagem */
.topo-perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto-perfil-grande img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}

.info-perfil {
    flex-grow: 1;
}

.info-perfil h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.data-cadastro,
.avaliacao {
    display: block;
    margin-top: 5px;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid white;
}

.slider-imagens {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-imagens img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
}

/* Descrição */
.descricao-trabalho {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: justify;
    font-size: 14px;
    border: 1px solid white;
}
